.App {
  /* text-align: center; */
  background-color: #364f68;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row-bg-overlay {
  z-index: 2;
  position: relative;
  margin-left: 0;
  backface-visibility: hidden;
  background: #2c95a5;
  background: linear-gradient(
    135deg,
    #2c95a5 0%,
    rgba(44, 149, 165, 0.21) 100%
  );
  opacity: 0.95;
  left: 0;
  top: 0;
  width: 100%;
  height: 25em;
}

.imgConatiner {
  background-image: url("../public/mentor.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 25em;
  width: 100%;
  top: 0;
  left: 0;
  margin-bottom: 2em;
}

.headingText {
  font-size: 4em;
  color: white;
  margin-top: 1em;
  font-weight: bold;
}

.headingButton {
  font-size: 1em;
}

.subText{
  font-size: 3em;
  color: #353535;
  font-weight: bold;
}

p{
  font-size: 1.5em;
}